.title {
  margin-bottom: 40px;
}

.form_div {
  display: grid;
  gap: 40px;

  .form_item {

    label {
      p {
        font-weight: 600;
        padding-bottom: 10px;
      }
    }

    input {
      width: 100%;
      font-size: 1rem;
      border-radius: 7px;
      border: 2px solid gray;
      padding: 15px;
    }
  }

  :global(#owner_span),
  :global(#card_number_span) {
    grid-column: 1/4;
  }

  :global(#dateline_span){
    grid-column: 1/3;
  }

  :global(#verify_code_span) {
    grid-column: 3/5;
  }

}