$unactive_color: #ccc;
$active_color: black;

.title{
  margin-bottom: 30px;
}

.process{
  position: relative;
  margin-bottom: 20px;
  padding: 20px 0;
  display: flex;
  justify-content: left;
  gap: 10vw;

  // 尚未Active 模式
  :global(span.step_icon){
    span{
      background-color: white;
      color: $unactive_color;
      margin-right: 5px;
      border: 2px solid $unactive_color;
      border-radius: 50px;
      padding: 7px 12px;
    }

    .step_icon_one::after,
    .step_icon_two::after {
      content: "";
      position: absolute;
      margin-top: 8px;
      margin-left: 7.8vw;
      width: 5vw;
      border-top: 3px solid $unactive_color;
    }

    label{
      font-size: 1.2rem;
      color: $unactive_color;
    }
  }

  // Active 模式
  :global(span.active) {
    span{
      background-color: $active_color;
      color:white;
      border: 0px;
    }

    .step_icon_one::after,
    .step_icon_two::after {
      border-top: 3px solid $active_color;
    }

    label{
      color: $active_color;
    }
  }

}
