@import './base.module.scss';

.control_div{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

    button{
      width: 25%;
      font-size: 1rem;
      border-radius: 10px;
      border-color: transparent;
      padding: 15px;
      cursor: pointer;

      .arrow_icon{
        margin-left: 15px;
      }
    }
    button:hover{
      box-shadow: 0 0 15px 3px #aaa;
    }

    .last_step{
      visibility: hidden;
    }

    .next_step{
      background-color: var(--pink);
      color: white;
    }

    .submit_order{
      background-color: var(--pink);
      color: white;
      display: none;
    }
}
