.title{
  margin-bottom: 40px;
}

.form_div{
  display: grid;
  gap: 40px;

  .form_item{


    label{
      p{
        padding-bottom: 10px;
      }
    }

    select, input{
      width: 100%;
      font-size: 1rem;
      border-radius: 7px;
      border: 2px solid gray;
      padding: 15px;
    }
  }

  #gender_span,
  #city_span{
    grid-column: 1/2;
  }
  #name_span,
  #address_span{
    grid-column: 2/5;
  }
  #phone_span{
    grid-column: 1/3;
  }
  #email_span{
    grid-column: 3/5;
  }


}