@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:global(:root) {
  --white: #FFFFFF;
  --pink: #F67599;
  --grey-800: #2A2A2A;
  --grey-700: #333333;
  --grey-400: #808080;
  --grey-300: #999999;
  --site-edge-margin: 15px;
  --main-font-family: "Roboto", "Noto Sans TC", sans-serif;
}

:global(body) {
  --background-color: #FFFFFF;
  --footer-background-color: #F6F7F8;
  --nav-icon: #2A2A2A;
  --social-icon: #808080;
  --main-text: #2A2A2A;
  --secondary-text: #808080;
  --active-color: lightblue;
  --undone-progress-border: #F0F0F5;
  --done-progress-border: #000000;
  --progress-current-color: #2A2A2A;
  --progress-done-color: #FFFFFF;
  --progress-undone-color: #AFB1BD;
  --pg-addr-color: #FFFFFF;
  --pg-addr-bg-color: #2A2A2A;
  --input-label: #808080;
  --input-border: #4A4A4A;
  --input-text: #999999;
  --select-arrow: #2A2A2A;
  --select-true: #2A2A2A;
  --select-false: #999999;
  --product-action-text: #000000;
  --product-action-bg: #F0F0F5;
  --left-arrow: #000000;
  background-color: var(--background-color);
  color: var(--main-text);
  font-family: var(--main-font-family);
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0px 15px;
}

.footer {
  background-color: var(--footer-background-color);
  display: flex;
  justify-content: center;
}
.footer .footer_content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  width: 80%;
  padding: 60px 0;
}
.footer .footer_content .brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer_content .item_box {
  margin-left: 40px;
  padding: 0 20px;
}
.footer .footer_content .item_box h2 {
  margin-bottom: 15px;
}
.footer .footer_content .item_box div {
  display: grid;
  grid-template-columns: 1fr;
}
.footer .footer_content .item_box div .footer_item {
  color: var(--social-icon);
  margin: 8px 0;
}
.footer .footer_content .subscribe p {
  font-size: 1.2rem;
  color: var(--social-icon);
  margin: 15px 0;
}
.footer .footer_content .subscribe a {
  margin-right: 10px;
}