.main_banner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media (min-width: 748px) {
  .main_banner {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
@media (min-width: 980px) {
  .main_banner .process_section {
    width: 620px;
    justify-self: right;
    grid-row: 1/2;
  }
}
.main_banner .process_section :global(.container) {
  padding: 10px 30px;
}
@media (min-width: 980px) {
  .main_banner .control_section {
    left: 0;
    width: 610px;
    justify-self: right;
    grid-row: 2/3;
  }
}
@media (min-width: 980px) {
  .main_banner .cart_section {
    width: 500px;
    justify-self: left;
    grid-row: 1/3;
    display: flex;
    align-items: end;
    margin-left: 30px;
  }
}